# Flask para API
flask
# b2sdk para integração com Backblaze B2
b2sdk
# python-dotenv para variáveis de ambiente
python-dotenv
# torchaudio, torch e demucs para separação de áudio
torch
torchaudio
demucs
# librosa para análise de áudio
librosa
# numpy para operações matemáticas
numpy
#para rodar a API em produção
gunicorn
#adicionar IA para detecção de nota
crepe
tensorflow-cpu==2.13.0  

requests